<%- include ../layouts/header.ejs %>

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>Name</th>
		<th>Address</th>
	</tr>
	<% if (data) { %>
	<% data.forEach(function(customer){ %>
		<tr>
			<td><%= customer.Name %></td>
			<td><%= customer.Address %></td>
			<td>
				<div style="float:left">
					<a href='/customers/edit/<%= customer.id %>'>Edit</a> &nbsp;							
					<form method="post" action="/customers/delete/<%= customer.id %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>

<%- include ../layouts/footer.ejs %>